@charset "utf-8";


.latest-row {
  width: 100%;
}
.latest-row > div:first-child {
  /*border: 1px solid #f00;*/
  padding: 0px 10px 0px 10px;
}
.latest-row > div:last-child {
  /*border: 1px solid #0f0;*/
  padding: 0px 10px 0px 10px;
}

.latest-col {
  position: relative;
  margin-bottom: 20px;
  /*border: 1px solid #000;*/
}
.latest-col > div > div {
  /*background-color: #ddd;*/
  /*border: 1px solid #c6cacc;*/
}
.latest-col > div > div > h2 {
  margin: 0px;
  font-size: 17px;
  font-weight: bold;
  background-color: #fafafa;
  border-bottom: 1px solid #e2e2e2;
}
.latest-col > div > div > h2 > a {
  display: block;
  color: #253dbe;
  text-decoration: none;
  padding: 14px 20px;
}
.latest-col > div > div > h2 > a:hover {
  color: #f00;
  text-decoration: none;
}
.latest-col > div > div > h2 > a:before {
  font-family: FontAwesome;
  padding-right: 5px;
}

.latest-line-1 .latest-col:first-child > div > div > h2 > a:before {
  content: "\f15b";
}
.latest-line-1 .latest-col:last-child > div > div > h2 > a:before {
  content: "\f130";
}

.latest-line-2 .latest-col:first-child > div > div > h2 > a:before {
  content: "\f086";
}
.latest-line-2 .latest-col:last-child > div > div > h2 > a:before {
  content: "\f15b";
}

.latest-line-3 .latest-col:first-child > div > div > h2 > a:before {
  content: "\f059";
}
.latest-line-3 .latest-col:last-child > div > div > h2 > a:before {
  content: "\f0ad";
}

.latest-line-4 .latest-col:first-child > div > div > h2 > a:before {
  content: "\f05a";
}
.latest-line-4 .latest-col:last-child > div > div > h2 > a:before {
  content: "\f15b";
}

.latest-line-5 .latest-col:first-child > div > div > h2 > a:before {
  content: "\f11b";
}
.latest-line-5 .latest-col:last-child > div > div > h2 > a:before {
  content: "\f03d";
}

.latest-col a.latest-more {
  position: absolute;
  top: 5px;
  right: 5px;
  display: block;
  padding: 10px;
  color: #253dbe;
}
.latest-col a.latest-more:hover {
  color: #f00;
  text-decoration: none;
}

.latest-col ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.latest-col ul li {
  position: relative;
  font-size: 16px;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  line-height: 16px;
}
/*
.latest-col ul li:last-child {
  border-bottom: 0px;
}
*/
/*
.latest-col ul li:before {
  content: "•";
  color: #000;
  display: inline-block;
}
*/


.latest-col ul li .latest-link a {
  color: #000;
  text-decoration: none;
  display: inline-block;
  padding: 8px;
  /* 추가 */
  width: calc(100% - 95px); /*85px*/
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.latest-col ul li .latest-link a:hover{
  color: #f00;
  text-decoration: none;
}

.latest-col ul li .latest-cmt a {
  position: absolute;
  top: 0px;
  right: 52px;
  display: block;
  padding: 5px;
  color: #000;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
}
.latest-col ul li .latest-cmt a:hover {
  color: #f00;
  text-decoration: none;
}

.latest-col ul li .latest-date {
  position: absolute;
  top: 6px;
  right: 6px;
  color: #888;
}



@media (max-width: 767px) {

.latest-line-1 .latest-col:first-child {
  margin-top: 20px;
}

}


@media (min-width: 768px) {

.latest-row > div:first-child {
  padding: 0px 10px 0px 0px;
}
.latest-row > div:last-child {
  padding: 0px 0px 0px 10px;
}

}


