@charset "utf-8";


.latest-row {
  
}
.latest-row > div:first-child {
  /*border: 1px solid #f00;*/
  padding: 0px 10px 0px 10px;
}
.latest-row > div:last-child {
  /*border: 1px solid #0f0;*/
  padding: 0px 10px 0px 10px;
}

.latest-col {
  /*border: 1px solid #000;*/
}
.latest-col > div > div {
  /*background-color: #ddd;*/
  border: 1px solid #c6cacc;
}
.latest-col > div > div > h2 {
  margin: 0px;
  font-size: 17px;
  font-weight: bold;
  background: #fafafa;
}
.latest-col > div > div > h2 > a {
  display: block;
  color: #253dbe;
  text-decoration: none;
  padding: 14px 20px;
}
.latest-col > div > div > h2 > a:hover {
  color: #f00;
  text-decoration: none;
}
.latest-col > div > div > h2 > a:before {
  font-family: FontAwesome;
  padding-right: 5px;
}
.latest-line-1 .latest-col:first-child > div > div > h2 > a:before {
  content: "\f15b";
}
.latest-line-1 .latest-col:last-child > div > div > h2 > a:before {
  content: "\f130";
}



@media (min-width: 768px) {

.latest-row > div:first-child {
  padding: 0px 10px 0px 0px;
}
.latest-row > div:last-child {
  padding: 0px 0px 0px 10px;
}

}


